@font-face {
  font-family: openSans;
  src: url('./fonts/OpenSans.ttf');
}

@font-face {
  font-family: tungstenBook;
  src: url('./fonts/Tungsten-Book.otf');
}

@font-face {
  font-family: tungstenLight;
  src: url('./fonts/Tungsten-Light.otf');
}

@font-face {
  font-family: tungsten;
  src: url('./fonts/Tungsten-Medium.otf');
}

@font-face {
  font-family: tungstenBold;
  src: url('./fonts/Tungsten-Bold.otf');
}

@font-face {
  font-family: industryMedium;
  src: url('./fonts/Industry-Medium.ttf');
}

@font-face {
  font-family: graphikMedium;
  src: url('./fonts/Graphik-Regular.ttf');
}

@font-face {
  font-family: sourceCodePro;
  src: url('./fonts/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: cypher;
  src: url('./fonts/SACypher-Regular.ttf');
}


html,

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset;
  margin: 0;
  padding: 0;
}

span {
  display: block;
}


{/* Highlight text from left to right on hover */}
:root {
  --color: #9f73b2;
  --font: industryMedium;
}

.popUpWord {
  font: var(--font);
  background: black;
  display: table;
  color: white;
}

.outPop:hover {
  margin: auto;
  background: linear-gradient( var(--color) , var(--color)) white no-repeat 0 0;
  background-size: 0 100%;
  animation: stripes 2s linear 1 forwards;
}
.outPop:hover .popUpWord{
  mix-blend-mode: multiply;
}

@keyframes stripes {
  to {
    background-size:100% 100%;
  }
}


{/* Default markdown styles */}
.markdown {
  font-family: graphikMedium;
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: #e3dcc8;
}
.markdown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}

.markdown img {
  max-width: 100%;
  height: auto;
}