@font-face {
  font-family: openSans;
  src: url('./fonts/OpenSans.ttf');
}

@font-face {
  font-family: tungstenBook;
  src: url('./fonts/Tungsten-Book.otf');
}

@font-face {
  font-family: tungstenLight;
  src: url('./fonts/Tungsten-Light.otf');
}

@font-face {
  font-family: tungsten;
  src: url('./fonts/Tungsten-Medium.otf');
}

@font-face {
  font-family: tungstenBold;
  src: url('./fonts/Tungsten-Bold.otf');
}

@font-face {
  font-family: industryMedium;
  src: url('./fonts/Industry-Medium.ttf');
}

@font-face {
  font-family: graphikMedium;
  src: url('./fonts/Graphik-Regular.ttf');
}

@font-face {
  font-family: sourceCodePro;
  src: url('./fonts/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: cypher;
  src: url('./fonts/SACypher-Regular.ttf');
}